/* ==========================================
   SIZING UTILITIES
   ========================================== */

/* Width */

.w-auto{width:auto;}
.w-full{width:100%;}
.w-screen{width:100vw;}

.w-fit{width:fit-content;}
.w-max{width:max-content;}
.w-min{width:min-content;}

/* Height */

.h-auto{height:auto;}
.h-full{height:100%;}
.h-screen{height:100vh;}

.h-fit{height:fit-content;}

/* Min */

.min-w-0{min-width:0;}
.min-w-full{min-width:100%;}

.min-h-0{min-height:0;}
.min-h-screen{min-height:100vh;}

/* Max */

.max-w-xs{max-width:20rem;}
.max-w-sm{max-width:30rem;}
.max-w-md{max-width:40rem;}
.max-w-lg{max-width:60rem;}
.max-w-xl{max-width:75rem;}

.max-w-full{max-width:100%;}

.max-h-full{
    max-height:100%;
}

/* Overflow */

.overflow-hidden{
    overflow:hidden;
}

.overflow-auto{
    overflow:auto;
}

.overflow-scroll{
    overflow:scroll;
}

.overflow-x-hidden{
    overflow-x:hidden;
}

.overflow-y-auto{
    overflow-y:auto;
}

/* Aspect Ratio */

.aspect-square{

    aspect-ratio:1;

}

.aspect-video{

    aspect-ratio:16/9;

}