/* ==========================================
   BUTTON SIZES
   ========================================== */

.btn--sm{

    padding:
        var(--space-xs)
        var(--space-md);

    font-size:var(--text-sm);

}

.btn--md{

    padding:
        var(--space-sm)
        var(--space-lg);

}

.btn--lg{

    padding:
        var(--space-md)
        var(--space-xl);

    font-size:var(--text-lg);

}

.btn--block{

    width:100%;

}